// @import "~@mdi/font/scss/materialdesignicons.scss ";
.head{
    font-size: 40px;
    height: 1px;
    margin-top: 20px;
  
}
.icon-header{
    position: relative;
    margin-left: 85%;
    top: -100px;
    font-size: 50px;
    color: black;
}
.itemcount{
    margin-top: -150px;
    font-size: 12px;
    margin-left: 90%;
}

mdi-cart{
    color: black;
}
.caption{
    margin-left: 25px;
}