table{
    margin-top: 10%;
}
.addtocart{
    background: #f1f3fa;
    font-family: Roboto;
    color: #707070;
}
.image{
    width: 50px;
    border-radius: 15px;
    height: 45px;
}
.qty{
    color:red;
}
.price{
    color:red;
}
.total{
    color:red;
}
.grandtotal{
    color:red;
}