.product{
    //     margin-top: 15%;
        background: #f1f3fa;
        font-family: Roboto;
        color: #707070;
        margin-top: 50px;
    }
    img{
        
        height:200px;
        width:300px;
    }
    card{
        margin-left: 40px;
    }
    .productImage{
        height: 200px;
        width: 300px;
        border-radius: 15px;
        margin-left: 20px;
        margin-top: 20px;
    }
    #title{
        margin-top: -14%;
        margin-left: 28%;
    }
    #price{
        color: red;
        margin-left: 28%;
    }
    #details{
        margin-left: 28%;
    }
    .addtocart{
        height: 64px;
        width:150px;
        border-radius: 5px;
        background: #713ab7;
        border: 1px solid #707070;
        box-shadow: 0px 3px 6px rgba(127, 67, 192, 0.16);
        margin-left: 28%;
    }
    .addreview{
        height: 64px;
        width:150px;
        border-radius: 5px;
        background: #713ab7;
        border: 1px solid #707070;
        box-shadow: 0px 3px 6px rgba(127, 67, 192, 0.16);
        margin-left: 5%;
    }
    .a{
         margin-top: 2%;
    }
    