<div class="product">
  <div class="a">
    <div class="card" style="width: 90rem; margin-left:40px;">
      <div class="productImage">
        <img src="assets/img/location/{{list.location}}.png" class="card-img-top" alt="..." style="border-radius: 15px;">
      </div>
      <div class="card-body">
        <h5 class="card-title" id="title">{{list.id}}</h5>
        <p class="card-text" id="price">Rs {{list.price}}</p>
        <p class="card-text" id="details">{{list.details}}</p>
        <button (click)="addtocart(list)" class="addtocart"><i class="mdi mdi-cart-plus"></i>  Add To Cart</button>
        <a routerLink="/forms"><button class="addreview"><i class="mdi mdi-message-draw"></i>  Add review</button></a>
      </div>
  </div>
</div>
    

 
  
  
      
  
  
  
   
  
     
  
      
  
  
  
        
  
       
  
        
  
        
  
    
  
  
   
  
   
  
   
  
    
  
